
/* Your CSS Code here. */
.holder{
	width:1000px;
	height:500px;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.item{
	width:100px;
	height:100px;
	font-weight:bold;
	font-size:xx-large;
text-align:center;
}
.red{
	background-color:red;
}
.green{
	background-color:green;
	
}
.blue{
	background-color:blue;
}